
<div class="jumbotron">
<div class="container text-center">
<h1>
  {{title}}
</h1>
<h2>
  {{subtitle}}
</h2>
</div>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">

<!--Intended for Use with a Collapse function-->

    <div class="navbar header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="#">Home</a>
    </div>

<!---->

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/tribes" routerLinkActive="active">Tribes</a></li>
        <li><a routerLink="/personslist" routerLinkActive="active">Persons</a></li>
      </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>

  </div>
</nav>




<div class="container">
<router-outlet></router-outlet>
</div>